build
*.pro.user
*.pro.user.*
CMakeLists.txt.user
CMakeLists.txt.user.*
cmake-build-*
_*-darwin.so
_64-linux-gnu.so
__pycache__

quest/lib/fps/fps.cpp
quest/lib/math/functions/rdf.cpp
quest/lib/math/functions/small.cpp
quest/lib/math/functions/rdf.cpython-39-x86_64-linux-gnu.so
quest/lib/fps/fps.cpython-39-x86_64-linux-gnu.so
quest/lib/math/functions/small.cpython-39-x86_64-linux-gnu.so
quest/lib/math/linalg/vector.cpp
quest/lib/tools/dye_diffusion/photon.cpython-39-x86_64-linux-gnu.so
quest/lib/tools/dye_diffusion/photon.cpp
quest/lib/structure/cStructure.cpython-39-x86_64-linux-gnu.so
quest/lib/structure/cStructure.cpp
quest/lib/math/linalg/vector.cpython-39-x86_64-linux-gnu.so
